/** Import inter font family **/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    color: var(--set-color-font-a);
}

label{
    font-size: 14px;
}

/***** Root variable set *****/ 
:root{
    --set-color-font-a: #444444;
    --padding-a: 10px;
    --padding-b: 35px;

    --gap-a: 10px;

}
/***** End Root variable set *****/

/** Home page style */
#homePageStyle{
    & h1{
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        padding: 15px;
    }
    
    & ul{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
/** Home page style */

/***** Form css *****/
#authContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    & .auth-form-container{
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: var(--gap-a);

        & .auth-header{
            width: 100%;
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;

            & .logo-cont{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 20px;

                & img{
                    width: 60px;
                    height: 60px;
                    border-radius: 50px;
                    background-color: #eeeeee;
                    border: 1px solid #ccc;
                    text-align: center;
                }
            }
        }

        & .form-input-names-cont{
            display: flex;
            grid-template-columns: auto auto;
            gap: var(--gap-a);

            & input{
                width: 100%;
                padding: 10px 5px;
                font-size: 14px;
            }

        }

        & .form-input-cont{
            display: flex;
            flex-direction: column;
            gap: 3px;
            position: relative;

            & input{
                width: 100%;
                padding: 10px 8px;
                font-size: 14px;
            }

            & .show-pwd-btn{
                padding: 3px 5px;
                right: 10px;
                top: 28px;
                position: absolute;
                border: none;
                outline: none;
                background: none;
                cursor: pointer;
                & i{
                    font-size: 16px;
                }
            }
        }

        & #userConsentCont{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: start;

            & .user-consent{
                max-width: 300px;
                text-align: center;
                font-size: 13px;
                color: #888888;
                & a{
                    font-size: 13px;
                    color: #888888;
                }
            }
        }

        & .auth-button{
            width: 100%;
            padding: 10px 8px;
            cursor: pointer;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    #authContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}
/***** End Form css *****/

/***** Shared css *****/
#ORLine{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0;

    & hr{
        width: 100%;
        color: #eeeeee;
        opacity: .5;
    }
}

.auth-input-msg-err{
    font-size: 13px;
    color: #ff0000;
    & i{
        font-size: 13px;
        color: #ff0000;
    }
}

.auth-link-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.share-linkto{
    &:hover{
        color: #187cff !important;
    }
}

.shared-header-login-msg{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    background-color: #10b65e15;
    color: #10b65e;
}

.shared-header-login-msg-err{
    background-color: #ff000015;
    color: #ff0000;
}
/***** End Shared css *****/

/***** COMPONENT MODAL MESSAGE *****/
#modalMessageContainer{
    width: 100%;
    height: 100vh;
    background-color: var(--modal-bck-color);
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(.9px);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    padding: 10px;

    & .--modal-error-msg{
        width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 15px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 3px 10px 8px #00000007;
        padding: 15px;

        & span{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            gap: 5px;
            font-size: 20px;
            color: #ff0000;
            font-weight: 500;
            & i{ font-size: 20px; color:  #ff0000; }
        }

        & button{
            padding: 7px 35px;
            cursor: pointer;
            font-size: 14px;
        }
    }

    & .--modal-scss-msg{
        width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 15px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 3px 10px 8px #00000007;
        padding: 15px;

        & span{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            gap: 5px;
            font-size: 20px;
            color: #10b65e;
            font-weight: 500;
            & i{ font-size: 20px; color: #10b65e; }
        }

        & button{
            padding: 7px 35px;
            cursor: pointer;
            font-size: 14px;
        }
    }
}
/*****  COMPONENT MODAL MESSAGE *****/

/** show me **/
& #HTMLModal-email-send{
    max-width: 380px;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px;
    box-shadow: 0 0 15px 7px #00000007;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: center;

    & img{width: 50px;}

    & .mailPng{
        width: 100px !important;
    }

    & .HTMLModal-icon{
        width: 100%;
        justify-content: center;

        & i{
            font-size: 35px;
        }

        & .bi-envelope-fill{
            color: #187cff;
        }

        & .bi-exclamation-triangle-fill{
            color: #ff0000;
        }

        & .bi-check-circle-fill{
            color: #10b65e;
        }
    }

    & h2{
        font-size: 20px;
        font-weight: 600;
    }

    & .HTMLModal-linkto{
        font-weight: 500;
        &:hover{
            color: #187cff;
        }
    }

    & strong{
        font-weight: 500;
        color: #187cff;
    }

    & span{
        min-width: 320px;
        display: block;
        padding: 10px 10px 0 10px;
        border-top: 1px dotted #888888;
        color: #888888;
        font-size: 15px;
    }
}

@media only screen and (max-width: 360px) {
    & #HTMLModal-email-send{
        box-shadow: unset;
    }
}